# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
*.env.local
*cleaned_image.jpg
*cleaned_nutrition_data.jpg
*detected_tables.jpg
*Final_Table.csv
*highlighted_image_dark.jpg
*horiz_vert.jpg
*im_nms.jpg
*cleaned_nutrition_data.csv
*src/backend/DATASET.csv
*__pycache__
*src/backend/uploads
*DATASET.csv
*.bolt
bolt